.winningContainer{
    background-color: #00000080;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 10px;
}
.scoreBoard{
    width: fit-content;
    background: #0158c0;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}
.toWin{
    background: #9f9f9f;
    // width: fit-content;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
.scoreContainer{
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 5px 0px #cccccc;
    min-width: 8em;
}
.scoreIn{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    font-weight: bold;
    background: #008fcb;
    color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}
.target{
    background: #008fcb;
    color: #ffffff;
    border-radius: 0px 0px 5px 5px;
}
.span{
    font-size: 10px;
    font-weight: 600;
}
.scoreMain{
    font-weight: bold;
}
.wicket {
  color: #c62828; // red for wickets
  margin-left: 4px;
}
.borderScore{
    border: 1px solid #008fcb;
}
.oversRow {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.overItem {
  min-width: 150px;
  flex-shrink: 0;
}
