.winningContainer{
    background-color: #00000080;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 10px;
}
.scoreBoard{
    width: fit-content;
    background: #0158c0;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}
.toWin{
    background: #9f9f9f;
    width: fit-content;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
}