.overGrid{
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 10px;
    box-shadow: 3px 4px 6px 0px #cccccc;
    background-color: #0F4C5C;
    margin-right: 6px;
}
.Overend{
    border-right: 4px solid #000000; 
    padding-right: 6px;   
}